@media all and (min-width: 320px){
    .imagenes{
        grid-template-columns: repeat(1, 1fr);
    }
    .follows{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 320px){
    .imagenes{
        grid-template-columns: repeat(3, 1fr);
    }
    .follows{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1024px){
    .imagenes{
        grid-template-columns: repeat(6, 1fr);
    }
    .follows{
        grid-template-columns: repeat(6, 1fr);
    }
}

body{
    background-color: #EFF6E0;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

footer a{
    text-decoration: none;
    color: white;
}

footer{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #01161E;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}

.no-link{
    text-decoration: none;
}

#logo{
    height: 75px;
    width: 75px;
    flex-grow: 1;
}
#no-style{
    text-decoration: none;
}

/* .buscador{
    width:fit-content;
} */

.navbar-items{
    color: #F0EEEF;
    align-items: flex-end;
    text-decoration: none;
}

.encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content:space-evenly;
}

main{
    height: 100%;
}

.historias{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10rem;
    margin-left: 10rem;
    
}

.follows img{
    background-color: #FEFAE0;
    width: 100px;
    height: 50%;
    border: solid 5px #124559;
    border-radius: 50%;
    margin: 0.5rem;
}
.no-hist img{
    border: solid 5px #AEC3B0;
}
.follows img:hover{
    opacity: 0.5;
}
.follows{
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row dense;
    text-align: center;
}
.follows a{
    text-decoration: none;
    color: black;
}

.imagenes{
    color: #344E41;
    justify-content: center;
    display:grid;
    grid-template-rows: auto;
    gap: 1.5rem;
    grid-auto-flow: row dense; /*LLenar con filas*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10rem;
    margin-left: 10rem;
}

.item img{
    padding: 0;
    margin: 15px, 10px;
    width: 100%;
    height: 95%;
    object-fit: cover;
    display: block; /*Generar cuadro al elemento*/
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.22);
    border-radius: 0.5rem;
}
.item img:hover{
    opacity: 0.5;
}

/*Hacer distitos elementos unos más grandes que otros*/
.item:nth-child(11n+1){
    grid-column: span 1;
}

.item:nth-child(11n+4){
    grid-column: span 2;
    grid-row: span 1;
}

.item:nth-child(11n+6){
    grid-column: span 2;
    grid-row: span 1;
}

.item:nth-child(11n+7){
    grid-column: span 1;
    grid-row: span 2;
}

.item:nth-child(11n+8){
    grid-column: span 1;
    grid-row: span 1;
}

.item:nth-child(11n+9){
    grid-row: span 2;
}

/*Cambiar orden de imagenes*/
.item:nth-child(3n+1){
    order: 1;
}
.item:nth-child(3n+2){
    order: 2;
}
.item:nth-child(3n){
    order: 3;
}