@media all and (min-width: 320px){
    .imagenes{
        grid-template-columns: repeat(1, 1fr);
    }
    .follows{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 320px){
    .imagenes{
        grid-template-columns: repeat(3, 1fr);
    }
    .follows{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1024px){
    .imagenes{
        grid-template-columns: repeat(6, 1fr);
    }
    .follows{
        grid-template-columns: repeat(6, 1fr);
    }
}

body{
    background-color: #40798C;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

footer{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    background-color: #1F363D;
}

.no-link{
    text-decoration: none;
}

#logo{
    height: 75px;
    width: 75px;
    flex-grow: 1;
}
.buscador{
    width:fit-content;
    flex-grow: 2;
}

.navbar-items{
    color: #F0EEEF;
    flex-grow: 1;
    align-items: flex-end;
    text-decoration: none;
}

/* #live{

} */

.encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}



.historias{
    font-family: 'Nunito', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5rem;
    margin-left: 5rem;
    
}

.follows img{
    background-color: #FEFAE0;
    width: 100px;
    height: 50%;
    border: solid 5px #70A9A1;
    border-radius: 50%;
    margin: 0.5rem;
}
.no-hist img{
    border: solid 5px #CFE0C3;
}
.follows{
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row dense;
    text-align: center;
}

.imagenes{
    justify-content: center;
    display:grid;
    grid-template-rows: auto;
    gap: 1rem;
    grid-auto-flow: row dense;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5rem;
    margin-left: 5rem;
}

.item img{
    padding: 0;
    margin: 15px, 10px;
    width: 100%;
    height: 95%;
    object-fit: cover;
    display: block;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.22);
    border-radius: 0.5rem;
}

.item:nth-child(11n+1){
    grid-column: span 1;
}

.item:nth-child(11n+4){
    grid-column: span 2;
    grid-row: span 1;
}

.item:nth-child(11n+6){
    grid-column: span 2;
    grid-row: span 1;
}

.item:nth-child(11n+7){
    grid-column: span 1;
    grid-row: span 2;
}

.item:nth-child(11n+8){
    grid-column: span 1;
    grid-row: span 1;
}

.item:nth-child(11n+9){
    grid-row: span 2;
}

.item:nth-child(3n+1){
    order: 1;
}
.item:nth-child(3n+2){
    order: 2;
}
.item:nth-child(3n){
    order: 3;
}